* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body {
    font-family: 'Abhaya Libre', serif;
  }
header {
    text-align: center;
    margin-top: 7.5vh;
    cursor: default;
}
h1 {
    font-weight: normal;
}
nav {
    display: grid;
    width: 938px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-inline: auto;
}   
nav a:hover{
    background-color: aliceblue;
}
nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-block: 7.5px;;
    list-style-type: none;
}

nav a:nth-child(1) {
    background-color: #c9f1fd;
  }
#page_1{
    background-color: #c9f1fd;
}
.gallery img:nth-child(1), img:nth-child(2), img:nth-child(3) {
    width: 300px;
    height: 250px;
}
#p4 {
    width: 250px;
    height: 300px;
}
#p5 {
    width: 350px;
    height: 250px;
    position: relative;
    top: -50px;
}
#p6 {
    width: 300px;
    height: 250px;
    position: relative;
    top: -50px;
}
.gallery{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.gallery img{
    margin: 10px;
    transition: 1s;
    cursor: pointer;
}
.gallery img:hover {
    transform: scale(1.1);
}
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox img {
    max-height: 90%;
}
#close {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
}
#prev{
    position: fixed;
    z-index: 1000;
    top: 40vh;
    left: 0;
}
#buttons {
    display: none;
}
button {
    margin: 20px;
    padding: 16px;
    border-style: none;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    border-radius: 6px;
}
#buttons button:hover {
    background-color: rgba(211, 211, 211, 0.062);
    cursor: pointer;
}
#next {
    position: fixed;
    z-index: 1000;
    top: 40vh;
    right: 0;
}
